{% extends 'contenido/encabezado.html' %}
<!--Todo el codigo ira debajo de la herencia-->
{% block titulo %}Contactanos{% endblock titulo %}
{% comment %} 

		{% block imagen %}
			{% load static %}
			{% static 'contenido/images/diablo.png' %}
		{% endblock imagen %}
		{% block sidebar %}Contactanos <span>Te podemos ayudar</span>{% endblock sidebar %}
		{% block encabezado %}
			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Formulario de contacto
				    <small>Ingresa tu información</small></h3>
				</div>			

			</div>
			<!-- /Encabezado-->
		{% endblock encabezado %} 
{% endcomment %}

{% block contenido %}


    <section id="contact" class="section pb-0">

        <div class="container">
            <h6 class="xs-font mb-0">Cunetanos algo</h6>
            <h3 class="section-title mb-5">Contacta con nosotros</h3>

            <div class="row align-items-center justify-content-between">
                <div class="col-md-8 col-lg-7">
					<!-- Formulario -->
					<form class="contact-form" action="#" role="form">
	    			    <div class="panel panel-default">
	    			        <div class="panel-body">
						        <div class="form-group">
						            <label class="col-sm-2 control-label text-right">Nombre:</label>
						            <div class="col-sm-10">
						            	<input type="text" class="form-control">
						            </div>
						        </div>			        
						        <div class="form-group">
						            <label class="col-sm-2 control-label text-right">Correo:</label>
						            <div class="col-sm-10">
						            	<input type="text" class="form-control">
						            </div>
						        </div>
								<div class="form-group">
						            <label class="col-sm-2 control-label text-right">Curso:</label>
						            <div class="col-sm-10">
						            	<select data-placeholder="Elige una carrera..." class="select" tabindex="2">
	    			                        <option value=""></option> 
	    			                        <option value="win7">Base de Datos</option> 
	    			                        <option value="win8">Programacion</option> 
	    			                        <option value="macos">Etc</option> 
	    			                </select>
						            </div>
						        </div>
								<div class="form-group">
						            <label class="col-sm-2 control-label text-right">Turno:</label>
						            <div class="col-sm-10">
						            	<input type="radio" name="turno" class="styled" checked="checked"> Matutino
										<input type="radio" name="turno" class="styled"> Vespertino
						            </div>
						        </div>
								<div class="form-group">
						            <label class="col-sm-2 control-label text-right">Comentarios:</label>
						            <div class="col-sm-10">
						            	<textarea class="form-control" cols="50" rows="10"></textarea>
						            </div>
						        </div>		        
        			            <div class="form-actions text-right">
        			            	<input type="submit" value="Enviar" class="btn btn-primary btn-block">
        			            </div>
						    </div>
						</div>
					</form>
					<!-- Fin del Formulario -->


                </div>
                <div class="col-md-4 d-none d-md-block order-1">
                    <ul class="list">
                        <li class="list-head">
                            <h6>Informacion de contacto</h6>
                        </li>
                        <li class="list-body">
                            <p class="py-2">Contacta con nosotros y te responderemos en un lapso de 24 hrs</p>
                            <p class="py-2"><i class="ti-location-pin"></i> 12345 Fake ST NoWhere AB Country</p>
                            <p class="py-2"><i class="ti-email"></i>  info@website.com</p>
                            <p class="py-2"><i class="ti-microphone"></i> (123) 456-7890</p>

                        </li>
                    </ul> 
                </div>
            </div>


        </div>
    </section>

	<section>
		<div class="container">
			<h3></h3>
		</div>
	</section>


{% endblock contenido %}

