{% extends 'contenido/encabezado.html' %}
<!--Todo el codigo ira debajo de la herencia-->

{% block titulo %}Cursos{% endblock titulo %}
{% comment %} 
    {% block imagen %}
	{% load static %}
	{% static 'contenido/images/calidad.png' %}
    {% endblock imagen %} 
{% block sidebar %}Cursos <span>Conoce nuestros cursos</span>{% endblock sidebar %}
{% block encabezado %}
    <h3>Cursos Disponibles</h3>
{% endblock encabezado %}
{% endcomment %}

{% block contenido %}
    <section class="section" id="about">

        <div class="container">

            <div class="row align-items-center mr-auto">
                <div class="col-md-4">
                    <h6 class="xs-font mb-0">Bienvenidos a</h6>
                    <h3 class="section-title">Cursos</h3>
                    <p>Aqui encontraras los curosos que se encuentran disponibles</p>

                    {% comment %} <a href="javascript:void(0)">Read more...</a> {% endcomment %}
                </div>
                <div class="col-sm-6 col-md-4 ml-auto">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-calendar"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">10+</h4>
                            <p>Bases de datos</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-face-smile"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">10+</h4>
                            <p>Programacion</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-star"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">10+</h4>
                            <p>Administracion de Redes</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-user"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">10+</h4>
                            <p>Ciber Seguridad</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>

{% endblock contenido %}

        <div class="page-title">
            <ul>
                <li>Base de Datos</li>
                <li>Programacion</li>
                <li>Etc</li>
            </ul>
        </div>